*{margin: 0;
  padding: 0;}
#Logo{
    width: 10%;
    height: 20%;
 position: absolute;
 transform: translate(-50%,-50%);
 left: 50%;
 top: 20%;
}
#Insta{
    
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 43.5%;
    top: 60%;
}
#Yt{
    width: 100px;
    height: 80px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 60%;
}
#TT{
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 56.5%;
    top: 60%;
}
#Dis{
    width: 370px;
    height: 100px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 49.6%;
    top: 75%;
}
#Pozadina{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}


   /* Style for the images and links */
   #InstaDiv img,
   #TTDiv img,
   #YtDiv img,
   #DisDiv img {
       transition:  0.3s; /* Add a smooth transition effect */
       transform-origin : center; /* Set the transformation origin */
   }

   /* Hover effect for the images and links */
   #InstaDiv:hover img,
   #TTDiv:hover img,
   #YtDiv:hover img,
   #DisDiv:hover img {
       filter: brightness(1.5); /* Increase brightness on hover */
    }

    #DisDiv:hover img {
        filter : grayscale(30%); /* Remove the grayscale effect */
        transition : filter 0.5s; /* Add a smooth transition for the image */
    }
    
    #DisDiv img {
        filter : grayscale(80%); /* Add the grayscale effect */
        transition : filter 2s; /* Add a smooth transition for the image */
    }

    /* Hover effect for #LogoDiv */
    #LogoDiv img {
        filter : grayscale(80%); /* Add the grayscale effect */
        transition: filter 0.3s, transform 0.5s, margin 0.3s; /* Add a smooth transition for the image and margin */
    }

    #LogoDiv:hover img {
        transform-origin: center; /* Set the transformation origin */
        filter: brightness(1.2); /* Increase brightness on hover */
        filter : grayscale(0%); /* Remove the grayscale effect */
        transform: scale(1.1) translateY(-95px) translateX(-90px); /* Zoom in by 20% and move up by 10px on hover */
    }


    #OzbLjudi {
        font-family: "Capture it";
        font-size: 40px;
        color: #dfdfdf;
        text-align: center;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 51.25%;
        top: 42%;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        stroke: black;
        stroke-width: .5px;
        stroke-linejoin: round;
        /* Replace "YourCustomFont" with the actual font name or path to the font file */
    }


#Fra {

        font-family: "Capture it";
        font-size: 75px;
        color: #dfdfdf;
        text-align: center;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 40%;
        top: 20%;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        stroke: black;
        stroke-width: .5px;
        stroke-linejoin: round;
        /* Replace "YourCustomFont" with the actual font name or path to the font file */
}
    
#Nja {

    font-family: "Capture it";
    font-size: 75px;
    color: #dfdfdf;
    text-align: center;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 61.5%;
    top: 20%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    stroke: black;
    stroke-width: .5px;
    stroke-linejoin: round;

}

#OzbLjudi {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5); /* 0.5 sets the transparency (adjust as needed) */
    padding : 5px; /* Add some padding */
}
