*{margin: 0;
  padding: 0;}
#Logo{
    width: 15%;
    height: 30%;
 position: absolute;
 transform: translate(-50%,-50%);
 left: 50%;
 top: 30%;
}
#Insta{
    
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 43.5%;
    top: 55%;
}
#Yt{
    width: 100px;
    height: 80px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 55%;
}
#TT{
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 56.5%;
    top: 55%;
}
#Dis{
    width: 370px;
    height: 100px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 49.6%;
    top: 70%;
}
#Pozadina{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}


   /* Style for the images and links */
   #LogoDiv img,
   #InstaDiv img,
   #TTDiv img,
   #YtDiv img,
   #DisDiv img {
       transition:  0.3s; /* Add a smooth transition effect */
       transform-origin : center; /* Set the transformation origin */
   }

   /* Hover effect for the images and links */
   #InstaDiv:hover img,
   #TTDiv:hover img,
   #YtDiv:hover img,
   #DisDiv:hover img {
       filter: brightness(1.5); /* Increase brightness on hover */
    }

    /* Hover effect for #LogoDiv */
    #LogoDiv img {
        filter : grayscale(80%); /* Add the grayscale effect */
        transition: filter 0.3s, transform 0.5s, margin 0.3s; /* Add a smooth transition for the image and margin */
    }

    #LogoDiv:hover img {
        transform-origin: center; /* Set the transformation origin */
        filter: brightness(1.2); /* Increase brightness on hover */
        filter : grayscale(0%); /* Remove the grayscale effect */
        transform: scale(1.1) translateY(-130px) translateX(-130px); /* Zoom in by 20% and move up by 10px on hover */
    }